body {
font-family: 'Lucida Grande', 'Helvetica', sans-serif;
font-size: 0.75em;
color: #222;
padding: 0;
margin: 0;
max-height: 100%;
}
#primers, #controls {
padding: 10px;
padding-bottom: 0;
background-color: #fff;
z-index: 50;
}

#primers {
padding-top: 0;
}

.primers-wrapper {
overflow: auto;
position: fixed;
right: 0px;
top: 0px;
width: 30%;
height: 100%;
}

.sequences-wrapper {
height: 100%;
width: 68%;
position: fixed;
top: 0px;
left: 0px;
overflow: auto;
}

.sequences-wrapper #seq-title {
  background-color: #eee;
  font-size: 12pt;
  height: 26px;
  line-height: 1.5;
  margin: 0;
  padding-left: 15px;
  margin-left: -15px;
  position: absolute;
  top: 0;
  width: inherit;
  /*font-family: serif;*/
  font-family: 'Lucida Grande', 'Helvetica', sans-serif;
}

.primer {
text-align: right;
margin-top: 1em;
background-color: #fff;
}

.primer:last-child {
margin-bottom: 1em;
}

.primer .box {
border: 1px solid #ccc;
padding: 10px 20px;
text-align: left;
}

.primer .header {
background-color: #ccc;
color: #fff;
padding: 5px;
cursor: move;
}

.primer .delete {
float: left;
color: inherit;
text-decoration: none;
}

.primer .delete:hover {
color: red;
}

.primer.selected .header{
background-color: #000;
}

.primer.selected .box {
border: 1px solid #000;
}

.primer table {
border-collapse: collapse;
margin-top: 0.5em;
width: 100%;
}

.primer td {
border: 1px solid #ccc;
padding: 3px 4px;
}

.primer td.dir {
width: 8%;
text-align: center;
}

.primer td.seq {
font-family: Courier;
}

.primer td.seq span {
color: #ddd;
}

.slider {
margin: 0.5em 0;
}

input[type=text] {
border: 1px solid #ccc;
}

input.range {
border: 0;
font-weight: bold;
width: 17%;
}

.primer td.seq span.vector {
color: #9d261d;
}

.primer td.seq span.insert {
color: #08b5fb;
}

#popup-export textarea,
#new-sequence textarea {
border: 1px solid #ccc;
background-color: #fff;
width: 100%;
font-family: Courier;
padding: 6px;
}

#protein span {
color: #46A546;
}

#dna span {
color: #7a43b6;
}

#complement span {
color: #f89406;
}

#dna span.n-homology {
text-decoration: overline;
}

#complement span.c-homology {
text-decoration: underline;
}

#sequences .unselected {
color: #bfbfbf;
}

#protein, .marker, #dna, #complement {
position: absolute;
}

.panel {
position: relative;
padding: 15px;
background-color: #fff;
}

#sequences {
width: 1080px;
word-wrap: break-word;
font-family: Courier;
font-size: 15px;
line-height: 500%;
color: #666;
}

#protein {
top: 15px;
letter-spacing: 18px;
left: 24px;
z-index: 1;
width: inherit;
}

#dna, .marker, #complement {
width: inherit;
}

#dna {
top: 30px;
background-image: -webkit-gradient(linear, 0 0, 100% 0, color-stop(.5, #fff), color-stop(.5, #F9F9F9), to(#F9F9F9));
background-image: -moz-linear-gradient(0, #fff 50%, #F9F9F9 50%);
background-image: -o-linear-gradient(0, #fff 50%, #F9F9F9 50%);
background-image: linear-gradient(0, #fff 50%, #F9F9F9 50%);
-webkit-background-size: 54px;
-moz-background-size: 54px;
background-size: 54px;
}

.marker {
top: 0px;
/*color: #808080;*/
color: #bfbfbf;
}

#complement {
top: 45px;
}

#sequence-info {
display: inline;
}

.bp {
font-weight: bold;
}

#settings {
margin: 0;
margin-top: 10px;
padding: 10px;
border: 1px solid #ccc;
background-color: #eee;
display: none;
}