#tags {
  line-height: 2;
}
.info-wrapper table,
#info-panel table {
  font-size: inherit;
  border-collapse: collapse;
}
#info-panel table {
  margin-bottom: 1em;
}
.info-wrapper td,
#info-panel td,
#info-panel th {
  border: 1px solid #ccc;
  padding: 2px 4px;
}
.aa-composition td:nth-child(n+2) {
  text-align: center;
}
.aa-composition th:first-child {
  text-align: left;
}
.tag {
  color: #fff;
  background-color: white;
  padding: 2px 6px !important;
  border-radius: 10px;
}
.tag.tag-protein {
  color: black;
  border: 1px solid black;
}
.vector-tag span {
  margin: 0px 2px;
  padding: 2px 0px;
}
.features {
  display: none;
  top: 23px;
  letter-spacing: 18px;
  color: transparent;
  height: 100%;
  font-size: 60px;
  letter-spacing: -9px
}

.features#ronn-features {
  display: auto;
}