<div class="primer">
  <div class="header">
    <a href="#" class="delete" title="Delete">&times;</a>
    <span class="num"><%= num %></span>
  </div>
  <div class="box">
    <label>Family:</label>
    <select class="family">
      <% for (var index in PD.settings.homology) { %>
        <option value="<%= index %>"><%= index %></option>
      <% } %></select>
    <label>Range:</label>
    <input type="text" class="range" autocomplete="off" value="<%= start %> - <%= end %>"/>
    <div class="slider"></div>
    <table>
      <tr class="f-primer">
        <td class="dir">F</td>
        <td class="seq"><%= PD.tmpl('oligo_tmpl', {vector: tags[0], insert: fwd}) %></td>
      </tr>
      <tr class="r-primer">
        <td class="dir">R</td>
        <td class="seq"><%= PD.tmpl('oligo_tmpl', {vector: tags[1], insert: rev}) %></td>
      </tr>
    </table>
  </div>
</div>